body {
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(195, 195, 195),
    rgb(190, 190, 190)
  );
  height: 100vh;
  width:100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.formColor {
  background-color: rgb(195, 195, 195);
}

.cardStyle {
  width: auto;
 justify-content: center;
 text-align: center;
 background-color: rgb(195, 195, 195);
}

.formStyle {
  width: auto;
  padding: 3rem;
  margin: 10rem;
  margin-top: auto;
  height:fit-content;
  text-align: center;
  justify-content: center;
 
}



@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
 100% { opacity: 1;}
}


@keyframes fadeIn {
 0% {opacity: 0;}
 100% { opacity: 1;}

}
.splash {
  width: 600px;
  height: 100vh;
  position: relative;
  padding-left: 14rem;
  display: flex;
  animation: fadeIn 5s;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

  



